
body, html, wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#head {
  height: 28px;
  padding: 4px 0 2px 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  border-bottom: 1px solid gray;
  white-space: nowrap;
  position: relative;
}

#logo {
  border-bottom: 1px dotted gray;
}

#opensel {
  width:0px; height:0px; margin: 0; padding: 0;
  visibility: hidden;
}

.button {
  border: 1px solid #777777;
  background: #E0E0E0;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}

.button:hover {
  color: white;
  border: 1px solid #222280;
  background: #3069B6;
}

#main {
  position: absolute;
  top: 35px;
  left: 0;
  bottom: 0;
  width: 100%;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
}
